
/* fonts Start */

@font-face {
    font-family: "Cormorant";
    src: url(./fonts/Cormorant.ttf)
}

@font-face {
    font-family: "Amiri";
    src: url(./fonts/Amiri.ttf);
}

@font-face {
    font-family: "Montserrat";
    src: url(./fonts/Montserrat.ttf);
}


/* fonts End */

.wrapper {
    display: grid;
}

.header {
    background: red;
    height: 100vh;
}

section {
    height: 100vh;
}


/* Start Timetable styles */

.timetable {
    background: black;
    display: grid;
    align-items: center;
    justify-items: center;
}

.timetable_wrapper {
    display: grid;
    grid-template-rows: 1fr 9fr;
    row-gap: 10vh;
    width: 80vw;
    height: 80vh;
}

.reservation_form {
    display: grid;
    grid-template-columns: repeat(3, 2fr) 1fr;
    grid-auto-rows: 7vh;
    column-gap: 1vw;
    background: black;
}

.reservation_form div {
    display: grid;
    grid-template-columns: 1fr 10fr;
    align-items: center;
    color: white;
    border: 1px solid #828282;
    padding-left: 5%;
}

.reservation_form select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
}

#persons_selection,
#time_selection,
#date_selection {
    cursor: pointer;
    color: white;
    background: transparent;
    padding-left: 5%;
    font-weight: 300;
    font-size: 14px;
    font-family: Montserrat;
    border: none;
    height: 100%;
}

#btn {
    text-align: center;
    background: transparent;
    color: white;
    font-family: Montserrat;
    font-size: 14px;
}

#btn:hover {
    background: white;
    color: #828282;
}

.timetable_context {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    column-gap: 3vw;
    color: white;
}

.open_hours,
.happy_hours {
    text-align: center;
    display: grid;
    align-self: center;
}

.happy_hours>h5,
.open_hours>h5 {
    font-size: 21px;
    font-family: "Cormorant";
    font-style: italic;
    font-weight: 400;
    margin: 0;
}

.happy_hours>h4,
.open_hours>h4 {
    font-size: 50px;
    font-family: "Amiri";
    font-style: normal;
    font-weight: 400;
    margin: 0;
}

.happy_hours>p,
.open_hours>p {
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
}

.happy_hours>h6,
.open_hours>h6 {
    font-size: 17px;
    font-family: "Amiri";
    letter-spacing: 1px;
    font-weight: 400;
}

.happy_hours>h6:hover,
.open_hours>h6:hover {
    text-decoration: underline;
    cursor: pointer;
}

.timetable_img {
    background: url(./img/bar.jpg);
    background-size: cover;
}


/* End Timetable styles */

/* Start Parallax styles */

.parallax {
    height: 80vh;
    background: url(./img/parallax2.jpg) fixed center no-repeat;
    background-size: cover;
}

/* End Parallax styles */

/* Start Menu styles */

.menu {
    height: fit-content;
    padding: 5%;
    display: grid;
    align-items: center;
    justify-items: center;
    background: black;
    color: white;
}

.menu_wrapper{
   display: grid;
   row-gap: 10vh;
    width: 80vw;

}

.menu_header {
    display: grid;
    justify-items: center;
}

.menu_header * {
    margin: 0;
}

.menu_header h5 {
font-family: 'Cormorant', sans-serif;
font-size: 21px;
font-style: italic;
font-weight: 400;
}

.menu_header h2 {
font-family: 'Amiri', sans-serif;
font-size: 58px;
font-weight: 400;
}

.menu_header p {
    width: 50%;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    font-weight: normal;
    line-height: 28px;
}

.menu_contentContainer {
    display: grid;
    grid-template-columns: 40% 60%;
    column-gap: 5%;
}
.menu_content {
display: grid;
row-gap: 5vh;

}



.cocktail {
    display: grid;
    row-gap: 2vh;
   
}

.cocktail>div {
    display: grid;
    grid-template-columns: auto 9fr 1fr;
}

.cocktail h4, .cocktail h5 {
    font-family: "Amiri",sans-serif;
    font-size: 25px;
    font-weight: normal;
}

.cocktail p {
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
}

.cocktail * {
display: grid;
align-content: end;
margin: 0;
}

.menu_content .dots {
    border-bottom: 1px dotted;
}

.menu_content #btn {
    height: 50px;
    justify-self: center;
}

.menu_img {
    background: url(./img/cocktail.jpg) center no-repeat;
    background-size: cover;
}

/* End Menu styles */

.map {
    background: yellow;
}

/* Start Footer styles */

.footer {
    display: grid;
    background: black;
    font-family: "Montserrat",sans-serif;
    font-size: 15px;
    color: #a3a3a3;
    height: 60vh;
    align-items: center;
    justify-items: center;
    line-height: 28px;
}

.footer h2 {
    color: white;
    font-family: "Amiri",sans-serif;
    font-size: 25px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 1px;
}

.footer_wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr 3fr;
    width: 90vw;
    height: 80%;
}

.footer_generalInfo p {
    margin: 0;
}
.items div {
    display: grid;
    grid-template-columns: 1fr 11fr;
    align-items: center;
    height: 30px;
}

.items i {
    color: white;
}

.footer_pages {
    display: grid;
    grid-auto-rows: min-content;
}
.footer_pages div {
    display: grid;
    row-gap: 10%;
}

.footer_pages a {
text-decoration: none;
color:#a3a3a3;
}

.footer_pages a:hover {
    cursor: pointer;
    color: #d5d5d5;
}

.footer_instagram {
    display: grid;
    grid-template-rows: min-content;
}

.instagram_imgs {
display: grid;
grid-template-columns: repeat(3,1fr);
gap: 10px;
width: 90%;
}



.inst_img1 {
    background: url(./img/instagram1.jpg) center no-repeat;
    background-size:cover;
}

.inst_img2 {
    background: url(./img/instagram2.jpg) center no-repeat;
    background-size:cover;
}
.inst_img3 {
    background: url(./img/instagram3.jpg) center no-repeat;
    background-size:cover;
}
.inst_img4 {
    background: url(./img/instagram4.jpg) center no-repeat;
    background-size:cover;
}
.inst_img5 {
    background: url(./img/instagram5.jpg) center no-repeat;
    background-size:cover;
}
.inst_img6 {
    background: url(./img/instagram6.jpg) center no-repeat;
    background-size:cover;
}


/* End Footer styles */